USE [SQL_DQL]
GO
USE [SQL_DQL]
GO
/****** Object:  Table [dbo].[Empregado]    Script Date: 19/11/2022 11:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empregado](
	[NumEmp] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](255) NULL,
	[Seccao] [int] NULL,
	[Posto] [nvarchar](255) NULL,
	[Chefe] [int] NULL,
	[Salario] [decimal](18, 0) NULL,
	[Comissao] [int] NULL,
 CONSTRAINT [PK_Empregado] PRIMARY KEY CLUSTERED 
(
	[NumEmp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seccao]    Script Date: 19/11/2022 11:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seccao](
	[NumSec] [int] NOT NULL,
	[Nome] [nvarchar](255) NULL,
	[Cidade] [nvarchar](255) NULL,
 CONSTRAINT [PK_Seccao] PRIMARY KEY CLUSTERED 
(
	[NumSec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Empregado] ON 

INSERT [dbo].[Empregado] ([NumEmp], [Nome], [Seccao], [Posto], [Chefe], [Salario], [Comissao]) VALUES (1, N'Ana', 10, N'Programador', 3, CAST(3000 AS Decimal(18, 0)), 10)
INSERT [dbo].[Empregado] ([NumEmp], [Nome], [Seccao], [Posto], [Chefe], [Salario], [Comissao]) VALUES (2, N'Nuno', 70, N'Engenheiro', 1, CAST(1500 AS Decimal(18, 0)), 40)
INSERT [dbo].[Empregado] ([NumEmp], [Nome], [Seccao], [Posto], [Chefe], [Salario], [Comissao]) VALUES (3, N'Álvaro', 50, N'Administrador', NULL, CAST(2500 AS Decimal(18, 0)), 0)
SET IDENTITY_INSERT [dbo].[Empregado] OFF
GO
INSERT [dbo].[Seccao] ([NumSec], [Nome], [Cidade]) VALUES (10, N'Fabrico', N'Porto')
INSERT [dbo].[Seccao] ([NumSec], [Nome], [Cidade]) VALUES (20, N'Comercial', N'Porto')
INSERT [dbo].[Seccao] ([NumSec], [Nome], [Cidade]) VALUES (30, N'Marketing', N'Braga')
GO
USE [master]
GO
